header {
    margin-bottom: 1rem;
    padding-bottom: 1rem; 
}

body {
    margin: 0;
    background-color: #52796F;
    color: #CAD2C5;
    line-height: 1.5;
    font-size: 125%;
    font-family: 'Courier', monospace;
}

.nav, .container {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    align-items: baseline;
    align-content: space-between;
}

.postcontainer {
    background-color: #CAD2C5;
    color: #52796F; 
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: bold;
  margin-top: .5em;
  margin-bottom: .5em;
}

a:link, a:visited {
    text-decoration: none;
    color: #CAD2C5;
}

a:hover {
    color: #7F978C;
}

#headline {
    color: #52796F;
    font-weight: bold;
}

#headline:hover {
  color: #64113F;
}


// ty zola v cool

pre {
  padding: 1rem;
  overflow: auto;
}
// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}
  