header {
    margin-bottom: 1rem;
    padding-bottom: 1rem; 
}

body {
    margin: 0;
    background-color: #52796F;
    color: #CAD2C5;
    line-height: 1.5;
    font-size: 100%;
    font-family: 'Tahoma', monospace;
}

.nav, .container {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    align-items: baseline;
    align-content: space-between;
}

.postcontainer {
    background-color: #CAD2C5;
    color: #52796F; 
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

a:link, a:visited {
    text-decoration: none;
    color: #CAD2C5;
}

a:hover {
    color: #7F978C;
}

#headline {
    color: #52796F;
}

h1, h2, h3, h4, h5, h6, p, pre code {
    font-weight: bold;
    margin-top: .5em;
    margin-bottom: .5em;
}
